<html>
<head>
	<meta charset="UTF-8">
	<title>{{pageTitle}}</title>
</head>
<body>
	<!-- this is how to render partial view -->
	{{>header}}
	<!-- this is how to call a helper -->
	<footer>Copy rights {{getFullYear}}</footer>
</body>
</html>